{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Emotions Test</title>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/stylecamera.css' %}"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
  </head>
  <body id="page-top">
    <!-- Navigation-->
    <nav
      class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top"
      id="mainNav"
    >
      <div class="container px-4">
        <a class="navbar-brand" href="https://superfoodproteins.com"
          >Emotions Test</a
        >
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarResponsive"
          aria-controls="navbarResponsive"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link" href="#about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#services">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- About section-->
    <section id="about">
      <div class="container px-4">
        <div class="row gx-4 justify-content-center">
          <div class="col-lg-8">
            <div>
              <h1>El test es el # {{valor}}</h1>
            </div>
            <button id="start-camera" class="btn btn-primary">
              Start Camera
            </button>
            <div class="contador">
              <div class="color_fondo" id="color_fondo"></div>
              <h1 class="numero" id="numero"></h1>
            </div>
            <video id="video" autoplay="" width="920" height="840"></video>
            <br />
            <button id="click-send" class="btn btn-primary">
              Empezar test
            </button>
            <br />
            <a href="{% url 'resultado' valor %}">
            <button
              id="click-result"
              class="btn btn-secondary">
              Procesar
            </button>
          </a>
            <div id="dataurl-container">
              <canvas id="canvas" width="720" height="600"></canvas>
            </div>

            <script>
              //VARIABLES
              let camera_button = document.querySelector("#start-camera");
              let send_button = document.querySelector("#click-send");
              let result_button = document.querySelector("#click-result");
              let video = document.querySelector("#video");
              let canvas = document.querySelector("#canvas");
              let urlapi = "https://api.superfoodproteins.com";
              var numTest = "{{valor}}";
              // CAMARA
              camera_button.addEventListener("click", async function () {
                let stream = null;

                try {
                  stream = await navigator.mediaDevices.getUserMedia({
                    video: true,
                    audio: false,
                  });
                } catch (error) {
                  alert(error.message);
                  return;
                }

                video.srcObject = stream;
                video.style.display = "block";
                send_button.style.display = "block";
                result_button.style.display = "block";
              });

              //BOTON ANALIZAR ENVIO AWS
              send_button.addEventListener("click", function () {
                var count = 0;
                var analizarImg = setInterval(function () {
                  if (count <= 4) {
                    count++;
                    canvas
                      .getContext("2d")
                      .drawImage(video, 0, 0, canvas.width, canvas.height);
                    let image_data_url = canvas.toDataURL("image/jpeg");
                    canvas.drawImage;

                    //CONSUMO API ANALIZAR IMG
                    fetch(urlapi + "/emotionsaws", {
                      method: "POST",
                      //mode: 'no-cors',
                      body: JSON.stringify({
                        base64: image_data_url,
                        testId: numTest.toString(),
                      }),
                      headers: {
                        "Content-type": "application/json",
                      },
                    }).then((response) => response.json());
                  } else {
                    clearInterval(analizarImg);
                  }
                }, 1000);

                const color = document.getElementById("color_fondo");
                const numero = document.getElementById("numero");
                let cantidad = 0;
                let tiempo = setInterval(() => {
                  cantidad += 1;
                  color.style.height = `${cantidad}%`;
                  numero.textContent = cantidad;
                  if (cantidad === 5) {
                    clearInterval(tiempo);
                  }
                }, 1000);
              });

              //TEMPLATE

              window.addEventListener("DOMContentLoaded", (event) => {
                // Activate Bootstrap scrollspy on the main nav element
                const mainNav = document.body.querySelector("#mainNav");
                if (mainNav) {
                  new bootstrap.ScrollSpy(document.body, {
                    target: "#mainNav",
                    offset: 74,
                  });
                }

                // Collapse responsive navbar when toggler is visible
                const navbarToggler =
                  document.body.querySelector(".navbar-toggler");
                const responsiveNavItems = [].slice.call(
                  document.querySelectorAll("#navbarResponsive .nav-link")
                );
                responsiveNavItems.map(function (responsiveNavItem) {
                  responsiveNavItem.addEventListener("click", () => {
                    if (
                      window.getComputedStyle(navbarToggler).display !== "none"
                    ) {
                      navbarToggler.click();
                    }
                  });
                });
              });
            </script>
          </div>
        </div>
      </div>
    </section>
    <!-- Footer-->
    <footer class="py-5 bg-dark">
      <div class="container px-4">
        <p class="m-0 text-center text-white">
          Copyright &copy; Your Website 2021
        </p>
      </div>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
  </body>
</html>
