{% load static %} {% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Emotions Test</title>
  <link rel="shortcut icon" href="{% static 'img/LOGO_PROTEINS.png' %}" type="image/x-icon">
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
  <!-- Notiflix -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/notiflix@3.2.2/dist/notiflix-3.2.2.min.css">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light border-bottom border-light py-0">
    <div class="container-fluid">
      <a href="https://superfoodproteins.com" class="navbar-brand">
        <img src="{% static 'img/LOGO_PROTEINS.png' %}" alt="Logo" style="width: 7rem; height: 3.5rem;">
      </a>

      <ul class="navbar-nav align-items-center ms-auto">
        <li class="nav-item">
          <a href="{% url 'crearPersona' %}" class="btn btn-primary rounded-pill nav-link py-1 px-3">
            <span class="text-white">
              <i class="bi bi-house"></i>
              Inicio
            </span>
          </a>
        </li>

        <li class="nav-item">
          <a class="btn btn-secondary rounded-pill nav-link py-1 px-3 mx-2" onclick="onShowHelp()">
            <span class="text-white">
              <i class="bi bi-question-circle"></i>
              Ayuda
            </span>
          </a>
        </li>

        <li class="nav-item">
          <a href="{% url 'dashboard' %}" class="btn btn-secondary rounded-pill nav-link py-1 px-3">
            <span class="text-white">
              <i class="bi bi-pie-chart"></i>
              Dashboard
            </span>
          </a>
        </li>
      </ul>
    </div>
  </nav>

  <main class="container">
    <div class="row justify-content-between align-items-center mt-5">
      <div class="col-auto">
        <h1 class="mb-0">Datos del usuario</h1>
      </div>

      <div class="col-auto">
        <h5 class="mb-0">Resultado {{ persona.id }}</h5>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-12">
        <h6 class="text-dark">
          {{ persona.nombre }} {{ persona.apellido }}
          &bull;&nbsp;{{ persona.edad }} años
        </h6>
        <div class="text-muted">
          {{ persona.correo }}
        </div>
        <div class="text-muted">
          {{ persona.sexo }}
        </div>
      </div>
    </div>

    <div class="row justify-content-between align-items-center mt-4">
      <div class="col-auto">
        <button class="btn btn-primary rounded-pill py-2 px-3" onclick="getData()">
          <span class="text-white">
            Obtener
          </span>
        </button>
      </div>

      <div class="col-auto">
        <div class="dropdown">
          <button class="btn btn-primary rounded-pill py-2 px-3 dropdown-toggle text-white" type="button" id="exportar"
            data-bs-toggle="dropdown" aria-expanded="false">
            <span>Exportar</span>
          </button>

          <ul class="dropdown-menu" aria-labelledby="exportar">
            <li>
              <a class="dropdown-item" download="datos.xlsx" href="#" onclick="downloadDocument(event, 'xls')">
                Excel file
              </a>
            </li>
            <li>
              <a class="dropdown-item" download="datos.xls" href="#" onclick="downloadDocument(event, 'excel')">
                XLS File
              </a>
            </li>
            <li>
              <a class="dropdown-item" download="datos.csv" href="#" onclick="downloadDocument(event, 'csv')">
                CSV File
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="card card-body p-0 shadow-sm mt-4 mb-5 mx-lg-5 ">
          <div class="table-responsive">
            <table class="table table-bordered border-primary table-striped text-center mb-0" id="tblData">
              <thead>
                <tr class="border-bottom border-primary">
                  <th># Test</th>
                  <th>Cod. Imagen</th>
                  <th>Producto</th>
                  <th>Resultado</th>
                  <th>Tiempo</th>
                  <th>Calificación</th>
                  <th>Pregunta</th>
                  <th>Validar</th>
                </tr>
              </thead>

              <tbody class="border-top-0">
                <tr style="--bs-table-striped-bg: rgba(var(--bs-primary-rgb), .25);">
                  <td colspan="99">
                    <h6 class="text-warning text-center">
                      Presiona obtener para buscar
                    </h6>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </main>

  <!-- Modal -->
  <div class="modal fade" id="helpModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <h5>
            Ayuda:
          </h5>

          <p>
            El test captura automáticamente una foto por cada segundo de los 12 que transcurre en la pregunta, es decir
            se tiene 12 fotos por cada pregunta, esa foto es analizada y se extrae la emoción que se esta reflejando en
            el momento de la captura.
            <br><br>
            La tabla muestra el identificador de la foto, la emoción, el tiempo en el cual fue capturado, la
            calificación que se le dio al producto y el ultimo campo que es opcional para que pueda verificar si es
            correcto la interpretación de la emoción que se muestra con lo que sintió en ese momento.
            Si desea guardar estos resultados, puede descargarlos en formato xlsx, xls o csv dando click en el botón
            Exportar.
            <br><br>
            ¡Muchas gracias por participar!
          </p>

          <div class="row">
            <div class="col-12 d-grid">
              <button type="button" class="btn btn-primary" data-bs-dismiss="modal">
                <span class="text-white">
                  Seguir
                </span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/excellentexport@3.4.3/dist/excellentexport.min.js">
  </script>

  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
    integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous">
    </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
    integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous">
    </script>

  <!-- Notiflix -->
  <script src="https://cdn.jsdelivr.net/npm/notiflix@3.2.2/dist/notiflix-aio-3.2.2.min.js"></script>

  <script>
    window.personaId = "{{ persona.id }}";

    function onShowHelp() {
      new bootstrap.Modal(document.getElementById('helpModal'), {
        keyboard: false
      }).show();
    }

    onShowHelp();
  </script>

  <script src="{% static 'js/resultado.js' %}"></script>
</body>

</html>
